@page "{id}"
@using  RestaurantPluralSight.Pages.Restaurants
@model EditModel


<link href="~/main.css" rel="stylesheet" />
<h1>Ändra detaljer för @Model.Restaurant.Name</h1>

<form method="post">

    <input type="hidden" asp-for="Restaurant.Id" />

    <div>
        <label asp-for="Restaurant.Name"></label>
        <input asp-for="Restaurant.Name" />
        <span asp-validation-for="Restaurant.Name"></span>
    </div>

    <div>
        <label asp-for="Restaurant.Cuisine"></label>
        <input asp-for="Restaurant.Cuisine"/>
        <span asp-validation-for="Restaurant.Cuisine"></span>

    </div>

    <div>
        <label asp-for="Restaurant.EmailAddress"></label>
        <input asp-for="Restaurant.EmailAddress" />
        <span asp-validation-for="Restaurant.EmailAddress"></span>
    </div>

    <div>
        <label asp-for="Restaurant.PhoneNumber"></label>
        <input asp-for="Restaurant.PhoneNumber" />
        <span asp-validation-for="Restaurant.PhoneNumber"></span>
    </div>


    <input type="submit" name="save" value="Save" />
    @*<span asp-validation-summary=""></span>     Blir som en lista med alla fel.*@
</form>