body {
    font-family: arial
}

img {
    width: 300px
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

button {
    display: block;
    margin-bottom: 10px
}
