@model RestaurantPluralSight.ViewModels.HomeIndexViewModel

@{ 
    ViewBag.Title = "Home Page";
    
}

<div style="text-align:center">
    <link href="~/main.css" rel="stylesheet" />
    <div id="Rubrik">
        <h1>Beställningar</h1>
    </div>
    <br />
    @foreach (var restaurant in Model.Restaurants)
    {
        @Html.Partial("_Summary", restaurant)
    }

    <br />
    <div>
        <a class="btn btn-warning" asp-action="Create">Skapa order</a>
    </div>
</div>

