body {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    color: #F6DC8F;
    font-family: 'Montserrat', sans-serif;
}

.Rubrik {
    color: gold;
}

#navbar-brand {
    text-align:center;
}
